.padding{
    padding-top: 5vw;
}
.container{
    padding: 2vw; 
    font-family: Courier, monospace; 
    color: aliceblue; 
    display: flex; 
    justify-content: center; 
    flex-direction: column; 
    align-items: center;
}
.accords{
    width: 65vw;
    /* height: 50vw; */
    border: 0.2vw solid rgb(129, 129, 129);
    background-color: rgb(59, 59, 59);
    border-radius: 1vw;
    margin-top: 1vw;
    /* padding: 1.5vw 10vw 10vw 2vw; */
    display: flex;
    gap: 10vw;
    padding: 1.5vw 10vw 1.5vw 10vw;
}
.accords h1:nth-child(2){
    margin-top: 16vw;
}
h1{
    margin: 0;
    font-size: 1vw;
}
.accords p{
    margin: 0;
    font-size: 0.8vw;
    color: aqua;
}


@media(max-width:600px){
    .padding{
        padding: 8vw 0 1vw 0;
    }
    .accords{
        width: 65vw;
        padding: 1.5vw 10vw 1.5vw 10vw;
        gap: 2vw;
    }
    .accords h1{
        font-size: 3.2vw;
    }
    .accords h1 p{
        font-size: 2vw;
    }
    .accords h1:nth-child(2){
        margin-top: 16vw;
    }
    .songbox{
        height: 13vw;
        border-radius: 2vw;
    }
    .songbox h1{
        font-size: 4vw;
    }
    .songbox p{
        font-size: 2.5vw;
    }
    .accords p{
        margin: 0;
        font-size: 0.8vw;
        color: aqua;
    }
}